{{#each items as |item|}}
  <section data-id="{{item._id}}">

  <div>
    <h6>Name:</h6>
    <p class="entries" id="item-name-{{item._id}}">
      {{#if item.name}}
        {{item.name}}
      {{else}}
        No name entered.
      {{/if}}
    </p>

      <h6>Quantity:</h6>
      <p class="entries" id="item-quantity-{{item._id}}">
        {{#if item.quantity}}
          {{item.quantity}}
        {{else}}
          No quantity entered.
        {{/if}}
      </p>

      <h6>Price (dollars):</h6>
      <p class="entries" id="item-price-{{item._id}}">
        {{#if item.price}}
          {{item.price}}
        {{else}}
          No price entered.
        {{/if}}
      </p>

    <button data-id="{{item._id}}" class="btn btn-secondary update-item">Update Item</button>
    <button data-id="{{item._id}}" class="btn btn-danger remove-item">Delete Item</button>
  </div>

    <form data-id="{{item._id}}" class="change-item d-none" id="item-{{item._id}}">
      <input class="edit-name" type="text" name="item[name]" placeholder="New Name" />
      <input class="edit-quantity" type="text" name="item[quantity]" placeholder="New Quantity" />
      <input class="edit-price" type="text" name="item[price]" placeholder="New Price" />
      <input type="submit" value="Update" />
    </form>

  </section>

{{/each}}
