{{#each items as |item|}}
  <tr>
    <th scope="row">{{ item._id }}</th>
    <td>{{ item.name }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.price }}</td>
    <td>
      <i class="fas fa-circle text-success pl-4"></i>
    </td>
    <td>
      <i class="fas fa-pencil-alt update" data-id={{ item._id }} data-toggle="modal" data-target="#create-new-trailer"></i>
    </td>
    <td>
      <i class="fas fa-trash-alt delete" data-id={{ item._id }}></i>
    </td>
  </tr>
{{/each}}
